* {
  box-sizing: border-box;
}

body {
  background-color: #ffe9ef;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #090b08;
}

ul {
  list-style: none;
}

h3 {
  letter-spacing: 1px;
  text-transform: uppercase;
}

.title {
  display: flex;
  align-items: center;
  margin-left: -6rem;
}

.title-right {
  justify-content: flex-end;
  margin-right: -6rem;
}

.line {
  height: 1px;
  width: 5rem;
  background-color: #090b08;
  margin-right: 1rem;
}

.line-right {
  order: 2;
  margin-left: 1rem;
  margin-right: 0;
}

.btn {
  display: inline-block;
  border: 1px solid #090b08;
  text-decoration: none;
  color: #090b08;
  padding: 0.4rem 1.2rem;
  transition: all 0.5s ease-in;
  cursor: pointer;
}

.btn.btn-transparent {
  background-color: transparent;
}

.toggle-menu {
  display: none;
  border: none;
  border-bottom: 1px solid transparent;
  padding: 0;
  transition: none;
}

.toggle-menu:hover {
  border-bottom: 1px solid #090b08;
}

.btn.btn-hover:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 7px -9px rgba(0, 0, 0, 0.9);
}

.btn.btn-submit {
  background-color: #f5d9d6;
  padding: 10px 30px;
}

.btn.btn-submit:hover {
  background-color: #090b08;
  color: #fff;
}

.social {
  display: flex;
}

.social li {
  margin-right: 2rem;
}

.social li i {
  font-size: 1.5rem;
}

.social-mobile {
  justify-content: center;
  margin-top: 6rem;
}

.show-on-mobile {
  display: none;
}

.menu-mobile {
  position: fixed;
  top: 7rem;
  width: 100%;
  background-color: #ffe9ef;
  height: 100vh;
  z-index: 1;
  padding: 3rem;
  display: none;
}

.menu-mobile .menu-list {
  display: flex;
  flex-direction: column;
}

.menu-mobile .menu-list .menu__item {
  margin: 1rem auto;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 1;
}

header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 70%;
  width: 100%;
  background-color: #ffe9ef;
  z-index: -1;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

.logo {
  display: block;
  width: 8rem;
}

.logo img {
  width: 100%;
}

.menu-list {
  display: none;
}

.menu__item {
  padding: 0 10px;
}

.menu__item a:hover {
  border-bottom: 1px solid #090b08;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding-top: 3rem;
  background-color: #f5d9d6;
}

.hero-text {
  margin-left: 0.8rem;
}

.feature {
  padding: 5rem 14rem;
}

.feature-item {
  margin-top: 3rem;
}

.feature .product {
  display: flex;
}

.feature .product-info {
  flex: 1;
  order: 1;
  padding-top: 5rem;
}

.feature .product-info p {
  text-align: center;
  margin: 2rem 0;
}

.feature .product-img {
  flex: 1 0 12rem;
  order: 2;
  margin-top: -4rem;
}

.feature .product-img img {
  width: 100%;
}

.feature-item__content {
  display: flex;
  flex-wrap: wrap;
}

.feature-item__content .box {
  position: relative;
  background-color: #f5d9d6;
  text-align: center;
  padding: 3.2rem;
  margin-bottom: 2rem;
}

.feature-item__content .box .box-overlay {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translate(8px, 8px);
  border: 2px solid #fff;
  transition: all 0.5s ease-in;
}

.feature-item__content .box:hover .box-overlay {
  transform: translate(0px, 0px) scale(0.9, 0.8);
}

.feature-item__content .box1 {
  flex: 1 0 47%;
  margin-right: 1rem;
}

.feature-item__content .box2 {
  flex: 1 0 47%;
}

.feature-item__content .box3 {
  flex: 2 0 100%;
}

.skincare {
  background-color: #f5d9d6;
}

.skincare-content {
  display: flex;
}

.skincare-content__info {
  flex: 1 0 40%;
  margin-right: 1rem;
  font-weight: 300;
}

.skincare-content__video {
  position: relative;
  flex: 2 0 55%;
  padding-bottom: 56.25%;
  overflow: hidden;
  height: 0;
}

.skincare-content__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contact {
  padding: 2rem 4rem;
  display: flex;
  flex-wrap: wrap;
}

.contact-mail {
  flex: 1 0 50%;
  padding: 0 1rem;
}

.contact-mail form {
  display: flex;
}

.contact-mail form input[type="email"] {
  flex: 1 0 80%;
  padding: 10px;
  border: 1px solid #090b08;
  background-color: transparent;
}

.contact-mail form button {
  flex: 1 0 20%;
  border-left: 0;
}

.contact-action {
  flex: 1 0 50%;
  padding: 0 1rem;
}

.contact-action .wrapper {
  display: flex;
  flex-wrap: wrap;
}

.contact-action .wrapper .contact-footer {
  flex: 1 0 48%;
}

.contact-action .wrapper .contact__phone {
  margin-right: 20px;
}

.contact-action .wrapper .social {
  flex: 1 0 100%;
  padding: 0;
}

.contact .copyright {
  flex: 1 0 100%;
  position: relative;
  padding: 1rem 0;
  font-size: .8rem;
}

.contact .copyright::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #dadada;
}

@media (max-width: 767px) {
  .show-on-mobile {
    display: block;
  }
  .toggle-menu {
    display: block;
  }
  .title {
    margin-left: 0;
  }
  .title .line {
    width: 3rem;
  }
  .title-right {
    margin-right: 0;
  }
  h1 {
    font-size: 1rem;
  }
  .hero img {
    width: 10rem;
  }
  .feature {
    padding: 5rem 2rem;
  }
  .feature-item {
    margin-top: 3rem;
  }
  .feature .product {
    flex-direction: column;
  }
  .feature .product-info {
    order: 2;
    text-align: center;
    padding-top: 3rem;
  }
  .feature .product-info p {
    margin: 1rem 0;
  }
  .feature .product-img {
    order: 1;
  }
  .feature .product-img img {
    width: 100%;
  }
  .skincare-content {
    flex-direction: column;
  }
  .skincare-content__info {
    flex: 1;
    margin-right: 1rem;
  }
  .skincare-content__video {
    flex: 1;
    margin-top: 4rem;
  }
  .contact {
    padding: 2rem 2rem 0;
  }
  .contact-mail {
    flex: 1 0 100%;
    padding: 0 1rem;
  }
  .contact-action {
    margin-top: 1rem;
  }
  .contact-action .wrapper .contact-footer {
    margin: 0;
    padding: 1rem;
    flex: 1 0 50%;
    border: 1px solid #090b08;
    text-align: center;
  }
  .contact-action .wrapper .contact-email {
    border-left: 0;
  }
  .contact-action .wrapper .social {
    flex: 1 0 100%;
    justify-content: center;
    margin: 2rem auto;
  }
  .contact .copyright {
    padding: 0;
    font-size: 0.6rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .feature {
    padding: 5em 2rem;
  }
  .feature .product-info p {
    text-align: justify;
  }
  .title {
    margin-left: 0;
  }
  .title .line {
    width: 3rem;
  }
  .title-right {
    margin-right: 0;
  }
  .skincare-content {
    flex-direction: column;
  }
  .skincare-content__info {
    flex: 1;
    margin-right: 1rem;
  }
  .skincare-content__video {
    flex: 1;
    margin-top: 4rem;
  }
}

@media (min-width: 768px) {
  .menu-list {
    display: flex;
  }
  .show-on-mobile {
    display: none;
  }
  .skincare-content__video {
    padding-bottom: 56.25%;
  }
}

@media (min-width: 1024px) {
  .skincare-content__info {
    padding-right: 3rem;
  }
  .skincare-content__video {
    padding-bottom: 33.25%;
    align-self: center;
  }
}
